.header-store{
    overflow: hidden;
    color: #fff;
    margin-bottom: 138px;
    padding-left: 60px;
}

.header-store .title{
    float: left;
    font-size: 40px;
    text-transform: uppercase;
}

.header-store > .navigation{
    float: right;
    font-size: 21px;

}

.header-store input[type="search"]{
    font-size: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding: 8px;
    width: 358px;
    margin-right: 65px;
    
}
input::-webkit-input-placeholder{
    color:#fff;
}

.header-store .navigation .action{
    color: inherit;
    margin-right: 60px;
}

.header-store .navigation .action.-last{
    margin-right: 0;
}